<html>
	<head>
		<link type="text/css" rel="stylesheet" href="../content/stylesheet.css"/>
		<title>Byld</title>
	</head>
	<body>
		<div id = "header">
			<form>
				<input type="search" placeholder="Translate">
			</form>
 			<ul>
 				<a href = "about.html"><li>About Site</li></a>
 				<a href = "index.html"><li>Let's Begin</li></a>
 			</ul>
		</div>
		<div id = "border">
				<div id="bg1"></div>
				<br><br><br><br><br><br>
			<img id ="photo1" src="http://eagereyes.org/media/2008/milkdrop.jpg">
			<h1 id ="textbl3">Based on (non-visual) data. A visualizations purpose is the communication of data. That means that the data must come from something that is abstract or at least not immediately visible (like the inside of the human body). This rules out photography and image processing. Visualization transforms from the invisible to the visible.</h1>
			<br><br><br>
			<h1 id = "textbl2" style="font-family:Ubuntu; color:#ff9900">Produce an image. It may seem obvious that a visualization has to produce an image, but that is not always so clear. Also, the visual must be the primary means of communication, other modalities can only provide additional information. If the image is only a small part of the process, it is not visualization.</h1>
			<br><br><br>
			<h1 id = "textbl2" style="font-family:Ubuntu; color:#ff9900">The result must be readable and recognizable. The most important criteria is that the visualization must provide a way to learn something about the data. Any transformation of non-trivial data into an image will leave out information, but there must be at least some relevant aspects of the data that can be read. The visualization must also be recognizable as one and not pretend to be something else.</h1>


		</div>
	</body>
</html>