<html>
	<head>
		<link type="text/css" rel="stylesheet" href="../content/stylesheet.css"/>
		<title>Byld</title>
	</head>
	<body>
		<div id = "header">	
			<form action = "../controllers/getimages.php" method = "GET">
				<input name = "string" type="search" placeholder="Translate" >
			</form>
 			<ul>
 				<a href = "about.html"><li>About Site</li></a>
 				<a href = "index.html"><li>Let's Begin</li></a>
 			</ul>
		</div>
		<div id = "border">
			<div id="bg1"></div>
			<br><br><br><br><br><br>
			<img id ="photo1" src="../content/shanghai-china-advanced-chinese-studies-study-abroad-program-162.jpg">
			<h1 id ="textbl4"> Do you find it frutating communicating in different countries?</h1>
			<br><br><br><br><br><br><br><br><br><br>
			<img id ="rty" src="../content/confused.jpg">
			<h1 id ="textbl">Do you face communication gap?</h1>
			<br><br><br><br><br><br><br><br><br><br>
			<h1 style="font-family:Ubuntu;color:#ff9900;font-size:70px;text-align:center">Try Visualator !!</h1>
		</div>
	</body>
</html>